*{margin: 0;padding: 0;}
body{font-family: 'Prompt-Medium';}
a,p{font-family: 'Prompt-Medium';/*Gulim*/}

.st_left{float: left;}
.st_right{float: right;}
.hover li a:hover{background-color: rgba(0,0,0,0.7);color: white;}
.border_left{border-left: 1px solid #000;}

.side_bar{
	top: 50px;
	height: 100%;
	position: fixed;
	border-right: 0.5px solid #000;
}

.side_bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 230px;
	background-color: white;
}

.side_bar li{
	height: 60px;//文字の大きさによって調整する
}

.side_bar li a{
	display: block;
	color: #000;
	padding: 30px 10px;//文字の大きさ調整
	text-decoration: none; 
	border-top: 0.5px solid #000;
}

/*.side_bar li a:hover{
	background-color: #555;
	color: white;
}*/

.side_bar p{ 
	display: table-cell;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}	

.side_bar p img{
	display: table;
	position: absolute;
	top: 360px;
	width: 90%;
	height: 190px;
}

