.float_l{float: left;}
.float_r{float: right;}

.navbar_border{border-left: 0.5px solid #fff;}

.navbar img{
	/*position: absolute;*/
	width: 100px;
		
}

.navbar{
	overflow: hidden;
	background-color: white;
	border-bottom: 0.5px solid #000;
	display: inline-block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
}


.navbar a{
	float: right;
	width: 200px;
	color: black;
	margin-right: 20px;
	padding: 16px 16px;
	text-decoration: none;
}

.navbar input{
	color: #fff;
	display: inline-block;
	padding: 0.5em 1em;
	font-weight: bolder;
	text-decoration: none;
	background-color: #00FF3B;
	border-radius: 3px;
	border-bottom: solid 3px #627295;
	position: absolute;
	bottom: 5px;
	right: 10px;
	width: 90px;
	height: 40px;
}

.navbar input:active{
	-ms-transform: translate(4px);	
	-webkit-transform: translate(4px);
	transform: translateY(3px);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	border-bottom: none;
}
